[submodule "Drakon.GitHub"]
	path = Drakon.GitHub
	url = https://github.com/drakon64/Drakon.GitHub.git
[submodule "Drakon.GoogleCloud"]
	path = Drakon.GoogleCloud
	url = https://github.com/drakon64/Drakon.GoogleCloud.git
